/* Board - Dialog add Task */

.dialog_addTask_bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
    z-index: 1;
}

.dialog_addTask {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
/*     height: 70%; */
    max-width: 1211px;
    max-height: 835px;
    border-radius: 30px;
    background-color: var(--white);
    /* "versteckt" die Klasse und gibt an wie das Element verändert wird */
    transform: translateX(120%);
    transition: all 100ms ease-in-out;
}

.show_dialog_addTask {
    /* Das Element wird von der Position translateX(100%) zu translateX(0) in 300ms mit ease-out verschoben */
    transform: translateX(0);
}

/* Board */

:root {
--height: fit-content;
}

#main_container{
    overflow-y: auto;
}

.content-board{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    height: calc(100% - 60px - 100px)
    }
    
    .board-headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    }

    .board-column{
        width: 280px;
        margin-bottom: 24px;
        height: 90%;
        padding: 8px;
        /* overflow-y: scroll; */
    }
    
    .d-flex-start{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 16px;
        gap: 8px;
        height: 100%;
    }

    .board-search-add{
        display: flex;
        gap: 24px;
    }

    .add-task-button{
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: var(--activeClickMenuBlue);
        padding: 16px;
        width: 160px;
        height: 48px;
        cursor: pointer;
        transition: 0.1s;
        gap: 4px;
    }

    .add-task-button:hover{
        background-color: var(--lightblue);
    }

    .add-task-button p{
        color: var(--white);
        font-size: 21px;
        font-weight: 700;
        padding-right: 8px;
        line-height: 25.2px;
    }

    .add-task-button img{
        width: 18.67px;
        height: 18.67px;
        top: 14.67px;
        left: 118.67px;
    }

    .search-field{
        display: flex;
        align-items: center;
        border: 1px solid var(--grey);
        background-color: var(--white);
        height: 48px;
        padding: 8px 16px 8px 16px;
        border-radius: 10px;
        opacity: 0px;
        cursor: pointer;
    }

    .search-field input{
        border: none;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin-right: 16px;
        border-right: 1px solid var(--grey);
        width: calc(100% - 16px);
        cursor: pointer;
    }

    .container-search-icon{
        width: 35px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-search-icon img{
        width: 17.58px;
        height: 17.58px;
        cursor: pointer;
    }

    .container-search-icon:hover{
        border-radius: 100px;
        background-color: #f0f0f0;
    }

    .no-task-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: #e2e2e2;
        color: var(--grey);
        border-radius: 8px;
        border: 1px dashed var(--grey);
        width: 246px;
        height: 48px;
        gap: 10px;
    }

    .small-add-button{
        display: none;
    }

    .headline-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text_board_headline {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    .column-plus-button{
        display: flex;
        position: relative;
        width: 24px;
        height: 24px;
        background-image: url(/assets/img/board/plus_button.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .column-plus-button:hover{
        background-image: url(/assets/img/board/plus_button_blue.svg);
    }

    .search-icon{
        cursor: pointer;
        width: 18px;
        height: 18px;
    }

    .board-column-highlight{
        border: dashed 1px var(--grey);
        border-radius: 24px;
    }

    /* Board - End */

    /* Board Task */

    .background-big-task {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        inset: 0;
/*         width: 100vw;
        height: 100vh; */
        background-color: rgba(0,0,0,0.1);
    }

    .task-box{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 16px;
        border-radius: 24px;
        box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
        min-width: 252px;
        height: fit-content;
        margin: 8px;
    }

    .task-type{
        text-align: center;
        border-radius: 8px;
        color: var(--white);
        font-weight: 400;
        font-size: 16px;
        width: fit-content;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 8px;
    }

    .user-story{
        background-color: #0038FF;
    }

    .technical-task{
        background-color: #1FD7C1;
    }

    .task-headline{
        margin-top: 16px;
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 8px;
        font-weight: 700;
        width: 230px;
    }

    .tasks-container{
        overflow-y: scroll;
        height: 90%;
        width: 280px;
    }

    .task-description{
        color: var(--fontGrey);
        margin-bottom: 8px;
        font-weight: 400;
        line-height: 19.2px;
        color: #A8A8A8;
        width: 230px;
    }

    .progress-section{
        display: flex;
        align-items: center;
        width: 220px;
        height: 16px;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .progress{
        height: 8px;
        border-radius: 8px;
        background-color: var(--backgroundgrey);
        width: 60%;
    }

    .progress-bar{
        height: 8px;
        border-radius: 8px;
        background-color: var(--fontColorMail);
    }

    .amount-subtask{
        font-size: 12px;
        width: 40%;
        text-align: end;
    }

    .member-prio-section{
        display: flex;
        justify-content: space-between;
    }

    .task-all-member{
        display: flex;
    }

    .member{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid var(--white);
        border-radius: 100%;
        color: var(--white);
        font-weight: 400px;
        font-size: 12px;
        margin-right: -8px;
    }

    .d-flex-center-space-btw{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .d-flex{
        display: flex;
        margin-top: 24px;
    }

    .task-box-big{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
        width: 525px;
        transform: translateX(100%);
        transition: all 300ms ease-out;
        height: var(--height);
        overflow-y: scroll;
        z-index: 1;
    }

    .show-task-box-big {
          transform: translateX(0);
    }

    .task-box-big h2{
        margin-top: 8px;
        font-size: 32px;
    }

    .close-icon{
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .close-icon img{
        height: 10px;
    }

    .close-icon:hover{
        background-color: var(--backgroundgrey);
        border-radius: 100px;
    }

    .task-description-big{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .width-30{
        width: 30%;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .d-flex p{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .margin-top-16px{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .d-flex-center{
        display: flex;
        align-items: center;
    }

    .member-big-task{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        font-size: 12px;
        border: 2px solid var(--white);
        border-radius: 100%;
        color: var(--white);
        font-weight: 400;
    }

    .container-member-big-task{
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        gap: 16px;
    }

    .container-member-big-task p{
        font-weight: 400;
        font-size: 19px;
        line-height: 22.8px;
        font-family: 'Open Sans';
    }

    .container-letters-name{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .prio-icon{
        margin-left: 8px
    }

    .container-subtasks{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .subtasks:hover{
        background-color: var(--backgroundgrey);
        border-radius: 6px;
    }

    .subtask-checkbox{
        width: 19px;
        height: 19px;
        background-image: url(../assets/img/board/check_button.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .subtasks:hover .subtask-checkbox{
        background-color: var(--fontGrey);
        border-radius: 5px;
    }

    .subtask-checkbox-checked{
        width: 19px;
        height: 19px;
        background-image: url(../assets/img/board/checked_button.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .container-subtasks p{
        font-size: 16px;
        line-height: 19.2px;
    }
    
    .subtasks{
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .container-delete-edit{
        display: flex;
        justify-content: end;
        margin-top: 24px;
        gap: 8px;
    }

    .delete{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .delete:hover{
        content: url(/assets/img/board/icon+delete_blue.svg);
        height: 18px;
    }

    .edit{
        display: flex;
        align-items: center;
        border-left: 0.1px solid var(--backgroundSpacer);
    }

    .edit:hover{
        content: url(/assets/img/board/icon+edit_blue.svg);
        height: 18px;
        padding-left: 4px;
    }

    .delete-edit-icon{
        height: 18px;
        padding-left: 4px
    }

    .d-none{
        display: none;
    }

    .edit_box_big {
        height: 750px; 
    }
    
    .scroll_EditTasks {
        overflow-y: auto;
    }
    
    .mainEditTasks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .wrapper_close_edit_task {
        position: fixed;
        right: 50px;
        top: 48px;
        width: 32px;
        height: 32px;
    }
    
    .wrapper_close_edit_task:hover {
        background-color: #EEEEEE;
    }
    
    .focus_editTask {
      font-size: 20px;
      width: 100%;
      height: 48px;
      border-radius: 10px;
      padding: 12px 21px 12px 21px;
      gap: 10px;
      border: 1px solid var(--backgroundSpacer);
      margin-top: 8px;
      outline: none;
    }
    
    .focus_editTask_description {
        font-size: 20px;
        width: 100%;
        height: 120px;
        border-radius: 10px;
        padding: 12px 21px 12px 21px;
        gap: 10px;
        border: 1px solid var(--backgroundSpacer);
        margin-top: 8px;
        outline: none;
      }
    
    .focus_editTask_description:focus,
    .focus_editTask:focus {
        border: 1px solid var(--lightblue);
    }
    
    .prio_edit {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .prio_edit_text {
        font-weight: bold;
    }
    
    .edit_task_btn {
        display: flex;
        gap: 4px;
        padding: 18px;
        align-items: center;
    }
    
    .footer_edit_task {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 48px;
    }