/* Board - Dialog add Task */

.dialog_addTask_bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
    z-index: 1;
}

.dialog_addTask {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 85%;
    border-radius: 30px;
    background-color: var(--white);
    /* "versteckt" die Klasse und gibt an wie das Element verändert wird */
    transform: translateX(120%);
    transition: all 100ms ease-in-out;
}

.show_dialog_addTask {
    /* Das Element wird von der Position translateX(100%) zu translateX(0) in 300ms mit ease-out verschoben */
    transform: translateX(0);
}

/* Board */

.content-board{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    }
    
    .board-headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    }

    .board-column{
        width: 250px;
        margin-bottom: 16px;
    }
    
    .d-flex-start{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .board-search-add{
        display: flex;
        gap: 24px;
    }

    .add-task-button{
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: var(--activeClickMenuBlue);
        padding: 16px;
        width: 160px;
        height: 48px;
        cursor: pointer;
        transition: 0.1s;
        gap: 4px;
    }

    .add-task-button:hover{
        background-color: var(--lightblue);
    }

    .add-task-button p{
        color: var(--white);
        font-size: 21px;
        font-weight: 700;
        padding-right: 8px;
        line-height: 25.2px;
    }

    .add-task-button img{
        width: 18.67px;
        height: 18.67px;
        top: 14.67px;
        left: 118.67px;
    }

    .search-field{
        display: flex;
        border: 1px solid var(--grey);
        background-color: var(--white);
        width: fixed(312px);
        height: 48px;
        padding: 8px 16px 8px 16px;
        border-radius: 10px;
        opacity: 0px;   
    }

    .search-field input{
        border: none;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin-right: 16px;
        border-right: 1px solid var(--grey);
        width: calc(100% - 16px);
    }

    .container-search-icon{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-search-icon img{
        width: 17.58px;
        height: 17.58px;
        cursor: pointer;
    }

    .container-search-icon:hover{
        border-radius: 100px;
        background-color: #f0f0f0;
        transform: scale(1.1);
    }

    .no-task-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: #e2e2e2;
        color: var(--grey);
        border-radius: 8px;
        border: 1px dashed var(--grey);
        width: 246px;
        height: 48px;
        gap: 10px;
    }

    .small-add-button{
        display: none;
    }

    .headline-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Board - End */

    /* Board Task */

    .background-big-task {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.1);
    }

    .task-box{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 16px;
        border-radius: 24px;
        box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
        width: 252px;
    }

    .task-type{
        text-align: center;
        border-radius: 8px;
        color: var(--white);
        font-weight: lighter;
        width: fit-content;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 8px;
    }

    .task-headline{
        margin-top: 16px;
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .task-description{
        color: var(--fontGrey);
        margin-bottom: 8px;
        font-weight: 400;
        line-height: 19.2px;
        color: #A8A8A8;
    }

    .progress-section{
        display: flex;
        align-items: center;
        width: 220px;
        height: 16px;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .progress{
        height: 8px;
        border-radius: 8px;
        background-color: var(--backgroundgrey);
        width: 60%;
    }

    .progress-bar{
        height: 8px;
        border-radius: 8px;
        background-color: var(--fontColorMail);
    }

    .amount-subtask{
        font-size: 12px;
        width: 40%;
        text-align: end;
    }

    .member-prio-section{
        display: flex;
        justify-content: space-between;
    }

    .task-all-member{
        display: flex;
    }

    .member{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--white);
        border-radius: 100%;
        color: var(--white);
        font-weight: lighter;
        margin-right: -4px;
    }

    .d-flex-center-space-btw{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .d-flex{
        display: flex;
    }

    .task-box-big{
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
        width: 525px;
        height: fit-content;
        transform: translateX(100%);
        transition: all 300ms ease-out;
    }

    .show-task-box-big {
          transform: translateX(0);
    }

    .task-box-big h2{
        margin-top: 8px;
        font-size: 32px;
    }

    .close-icon{
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .close-icon img{
        height: 10px;
    }

    .close-icon:hover{
        background-color: var(--backgroundgrey);
        border-radius: 100px;
    }

    .task-description-big{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .width-30{
        width: 30%;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .d-flex p{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .d-flex img{
        margin-top: 16px;
    }

    .margin-top-16px{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .d-flex-center{
        display: flex;
        align-items: center;
    }

    .member-big-task{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        font-size: 12px;
        border: 2px solid var(--white);
        border-radius: 100%;
        background-color: var(--tagApricot);
        color: var(--white);
        font-weight: 400;
    }

    .container-member-big-task{
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 16px;
    }

    .container-member-big-task p{
        font-weight: 400;
        font-size: 19px;
        line-height: 22.8px;
        font-family: 'Open Sans';
    }

    .prio-icon{
        margin-left: 8px
    }

    .container-subtasks{
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
        height: 24px;
        width: fit-content;
    }

    .container-subtasks:hover{
        background-color: var(--backgroundgrey);
        border-radius: 6px;
    }

    .container-subtasks:hover .subtask-checkbox{
        background-color: var(--fontGrey);
        border-radius: 5px;
    }

    [type="checkbox"] {
        left: 15px;
        top: -4px;
        z-index: 0;
        appearance: none;
        -webkit-appearance: none;
    }

    [type="checkbox"]::before{
        width: 18px;
        height: 19px;
        margin: 2px;
        background-image: url(/assets/img/board/check_button.svg);
        display: block;
        content: "";
        float: left;
        z-index: 5;
        position: relative;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    [type="checkbox"]:checked::before {
        background-image: url(/assets/img/board/checked_button.svg);
    }

    .container-subtasks p{
        font-size: 16px;
        line-height: 19.2px;
    }
    
    .container-delete-edit{
        display: flex;
        justify-content: end;
        margin-top: 24px;
        gap: 8px;
    }

    .delete{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .delete:hover{
        content: url(/assets/img/board/icon+delete_blue.svg);
        height: 18px;
    }

    .edit{
        display: flex;
        align-items: center;
        border-left: 0.1px solid var(--backgroundSpacer);
    }

    .edit:hover{
        content: url(/assets/img/board/icon+edit_blue.svg);
        height: 18px;
        padding-left: 4px;
    }

    .delete-edit-icon{
        height: 18px;
        padding-left: 4px
    }

    .d-none{
        display: none;
    }
    /* Responsive */

@media(max-width: 800px) {

    .small-add-button{
        display: block;
        align-items: center;
        border-radius: 8px;
        background-color: var(--activeClickMenuBlue);
        padding: 8px;
        cursor: pointer;
    }

    .add-task-button{
        display: none;
    }

    .h1-container{
        margin-bottom: 24px;
        width: 100%;
    }

    .headline-container{
        flex-direction: column;
        align-items: baseline;
    }

    .board-column{
        width: 100%;
    }
    
    .task-box{
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media(max-width: 500px){

    h1{
        margin-bottom: 16px;
        font-size: 61px;
        font-weight: 700;
        line-height: 73.2px;
    }

    .board-search-add{
        width: 100%;
    }

    .search-field{
        width: 100vw;
    }

    .d-flex-start{
        flex-direction: column;
        align-items: center;
    }

    .board-headline{
        width: 100%;
    }

    .plus-button{
        cursor: pointer;
    }

    .plus-button:hover{
        src: url(/assets/img/board/plus_button_blue.svg);
    }

    .content-board{
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 8px;
    }
    
    .task-box{
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
    }

    @media(max-width: 400px){

        .task-box-big{
            width: 300px;
        }

        .board-column{
            width: 100%;
        }

        .task-box{
            width: 100%;
            margin: 0;
        }
    }
}