:root {
    --menuButtonDarkblue: #2A3647;
    --activeClickMenuBlue: #091031;
    --hoverMenuBlue: #2A3D59;
    --lightblue: #29ABE2;
    --backgroundblue: #F5F7F8;
    --backgroundgrey: #F5F5F5;
    --backgroundSpacer: #D1D1D1;

    --prioUrgent:#FF3D00;
    --prioMedium: #ffa800;
    --prioLow: #7AE229;
    ;
    --white: #ffffff;
    --black: #000000;
    --grey: #A8A8A8;
    --fontGrey: #CDCDCD;
    --tagOrange: #FF7A00;
    --tagPink: #FF5EB3;
    --tagPurple: #6E52FF;
    --tagDarkPurple: #9327FF;
    --tagLightBlue: #00BEE8;
    --tagTurquoise: #1FD7C1;
    --tagApricot: #FF745E;
    --tagLightOrange: #FFA35E;
    --tagLightPink: #FC71FF;
    --tagYellow: #FFC701;
    --tagBlue: #0038FF;
    --tagGreen: #C3FF2B;
    --taglightYellow: #FFE62B;
    --tagRed: #FF4646;
    --tagMediumYellow: #FFBB2B;

    --fontColorMail: #007CEE;
}
