.img_width24 {
    width: 24px;
    height: 24px;
}

/* Contacts - Dialog add & edit Contact */

.dialog_add_contact_bg,
.dialog_edit_contact_bg{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
    z-index: 1;
}


.dialog_add_contact,
.dialog_edit_contact {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 65%;
    border-radius: 30px;
    background-color: var(--white);
    /* "versteckt" die Klasse und gibt an wie das Element verändert wird */
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.show_dialog_add_contact,
.show_dialog_edit_contact {
    /* Das Element wird von der Position translateX(100%) zu translateX(0) in 300ms mit ease-out verschoben */
    transform: translateX(0);
}

.top_dialog_add_edit {
    padding: 66px 48px;
    background-color: var(--menuButtonDarkblue);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head_top_dialog_add_edit {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

.img_logo {
    width: 55.6px;
    height: 66.48px;
}

.seperator_line_content_contact {
    height: 3px;
    width: 90px;
    background-color: var(--lightblue);
}

.wrapper_close_add_edit_contact {
    position: absolute;
    right: 48px;
    top: 48px;
    width: 32px;
    height: 32px;
}

.close_add_edit_contact {
    filter: invert(21%) sepia(15%) saturate(944%) hue-rotate(176deg) brightness(93%) contrast(97%);
}

.wrapper_close_add_edit_contact:hover {
    background-color: #EEEEEE;
}

.headline_add_edit_contact {
    font-size: 61px;
    font-weight: 700;
    color: var(--white);
}

.text_add_edit_contact_dialog {
    font-size: 27px;
    color: var(--white);
}

.create_contact_short_name_edit,
.create_contact_short_name {
    background-color: var(--backgroundSpacer);
    width: 120px;
    height: 120px;
    color: var(--white);
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid var(--white);
    align-self: center; 
}

.create_contact_short_name_edit {
    background-color: var(--tagOrange);
}

.create_contact_add_edit_person_img {
    width: 64px;
    height: 64px;;
}

.bottom_dialog_add_edit {
    align-items: center;
    display: flex;
    background-color: var(--white);
    padding: 66px 0px;
    padding-right: 48px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.create_contact_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create_contact_input {
    width: 422px;
    padding: 13px 21px;
    border: 1px solid var(--backgroundSpacer);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center right 21px;
    background-size: 24px;
    padding-left: 21px;
    outline: none;
    font-size: 20px;

}

.create_contact_input:focus {
    border: 1px solid var(--lightblue);
}

#fullName {
    background-image: url(../assets/img/contacts/person.svg);
}

#mail {
    background-image: url(../assets/img/contacts/mail.svg);
}

#telNumber {
    background-image: url(../assets/img/contacts/call.svg);
}

.create_contact_input::placeholder {
    font-size: 20px;
    color: var(--backgroundSpacer);
}

.contact_btn {
    display: flex;
    gap: 4px;
    padding: 18px 10px;
    border-radius: 10px;
}

.container_button {
    margin-top: 15px;
    display: flex;
    gap: 24px;
}

.cancel_create_contact_edit_btn,
.cancel_create_contact_btn {
    border: 1px solid var(--menuButtonDarkblue);
    color: var(--menuButtonDarkblue);
}

.create_contact_btn {
    border: none;
    background-color: var(--menuButtonDarkblue);
    color: var(--white);
}

.text_cancel_create_contact_edit_btn,
.text_cancel_create_contact_btn {
    font-size: 20px;
}

.text_create_contact_btn {
    font-size: 21px;
    font-weight: 700;
}


.img_cancel_checked_btn {
    filter: invert(21%) sepia(15%) saturate(944%) hue-rotate(176deg) brightness(93%) contrast(97%);
}

.img_checked_btn {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(105%) contrast(103%);
}

/* Contact options */
.contact_options_mobile {
    z-index: 1;
    border-radius: 20px 20px 0px 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px #00000040;
    bottom: 100px;
    right: 10px;
    position: absolute;
    padding: 10px;
    transform: translateX(137px);
    transition: all 300ms ease-out;
}

.show_contact_options_mobile {
    transform: translateX(0px);
}

/* Contacts */

.main_contacts {
    display: flex;
    box-shadow: 4px 0px 6px 0px #00000014;
}

#content_contacts {
    box-shadow: 4px 0px 6px 0px #00000014;
    background-color: var(--white);
    padding: 32px 52px; /* zentriert content mittig */
    width: 456px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add_change_btn_mobile {
    background-color: var(--menuButtonDarkblue);
    width: 352px;
    padding: 12px 0px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media(min-width: 801px) {
    .add_change_btn_mobile:hover {
        background-color: var(--lightblue);
    }
}

.text_add_contact {
    font-size: 21px;
    color: var(--white);
}

.add_person_more_icon {
    width: 32px;
    height: 32px;
}

.letter_names {
    padding: 17px 36px;
}

.head_letters {
    font-size: 20px;
}

.horizontal_line_content {
    width: 352px;
    padding: 8px 0px;
}

.horizontal_line {
    border: 1px solid var(--backgroundSpacer);
}

.contact {
    display: flex;
    gap: 35px;
    padding: 15px 24px;
}

@media(min-width: 801px) {
    .contact:hover {
        border-radius: 10px;
        background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    }
}

.short_name {
    background-color: var(--tagOrange);
    width: 42px;
    height: 42px;
    color: var(--white);
}

.short_name_text {
    font-size: 12px;
}

.name_data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_fullName {
    font-size: 20px;
}

.contact_mail,
.overview_mail {
    color: var(--fontColorMail);
}

/* Contact Overview*/

/* div mit id="contact_view" ist nur ab width von 1111px sichtbar, sonst class="d_none" */
@media(min-width: 1111px) {
    #contact_view {
        display: block;
    }
}

.hide_desktop {
    display: none;
}

.left_part_overview {
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-left: 55px;
    gap: 30px;
}

.left_part_overview_second {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
}

.headline_contacts {
    font-size: 61px;
}  

.text_contacts {
    font-size: 27px;
} 

.seperator_line_content {
    height: 90px;
    width: 3px;
    background-color: var(--lightblue);
}

.floating_contact {
    display: flex;
    flex-direction: column;
    padding: 32px 55px;
    gap: 21px;
    transform: translateX(100%);
    transition: all 100ms ease-in-out;
}

.show_floating_contact_desktop {
    transform: translateX(0px);
}

.head_floating_content {
    display: flex;
    gap: 54px;
    align-items: center;
}

.short_name_overview {
    background-color: var(--tagOrange);
    border: 3px solid var(--white);
    width: 120px;
    height: 120px;
    color: var(--white);
}

.short_name_text_overview_edit,
.short_name_text_overview {
    font-size: 47px;
    font-weight: 500;
}

.name_overview {
    font-size: 47px;
    font-weight: 500;
}

.editable_content {
    display: flex;
    gap: 13px;
    margin-top: 8px;
}

.edit_content {
    width: 62px;
}

.edit_content,
.delete_content {
    display: flex;
    gap: 13px;
    align-items: center;
}

.delete_content:hover .contact_delete_icon,
.delete_content:hover p,
.edit_content:hover .contact_edit_icon,
.edit_content:hover p {
    filter: invert(52%) sepia(91%) saturate(455%) hue-rotate(155deg) brightness(96%) contrast(84%);
    color: var(--lightblue);
    font-weight: 700;
}


.text_information {
    font-size: 20px;
    padding: 25px 0px;
}
.contact_information {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.contact_overview_mail,
.contact_overview_phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* Responsive */

@media(max-width: 1280px) {
    /* Contacts - Dialog add & edit Contact */

    .create_contact_short_name_edit,
    .create_contact_short_name {
        z-index: 1;
        position: absolute;
        top: calc(46% - 60px); /* zentriert das Element vertikal basierend auf der Höhe von "top_dialog_add" und der Hälfte der Höhe des eigenen Elements (hier: 120px)*/
    }

    .dialog_add_contact,
    .dialog_edit_contact {
        flex-direction: column;
        width: 450px;
    }

    .top_dialog_add_edit {
        padding-left: 24px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: unset;
        height: 46%;
    }

    .img_logo {
        display: none;
    }

    .head_top_dialog_add_edit {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 16px;
    }

    .wrapper_close_add_edit_contact {
        right: 18px;
        top: 24px;
    }
    .close_add_edit_contact {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(105%) contrast(103%);
    }

    .wrapper_close_add_edit_contact:hover {
        background-color:initial;
    }

    .headline_add_edit_contact {
        font-size: 47px;
        font-weight: 700;
        color: var(--white);
    }

    .text_add_edit_contact_dialog {
        font-size: 20px;
        color: var(--white);
    }

    .bottom_dialog_add_edit {
        height: 54%;
        border-bottom-left-radius: 30px;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .create_contact_form {
        gap: 10px;
        align-items: center;
    }

    .create_contact_input {
        padding: 10px 21px;
    }

    .cancel_create_contact_btn {
        display: none;
    }

    .create_contact_btn {
        padding: 18px 10px;
    }

    .edit_content,
    .delete_content {
        gap: 8px;
        padding: 13px;
    }
}

@media(max-width: 1220px) {
    .left_part_overview {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
    .left_part_overview_second {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
    .seperator_line_content {
        height: 3px;
        width: 90px;
    }
    .short_name_overview {
        width: 80px;
        height: 80px;
    }
    .name_overview {
        font-size: 36px;
    }
    .short_name_text_overview {
        font-size: 27px;
        font-weight: 400;
    }
}

@media(max-width: 1110px) {
    #content_contacts {
        width: 100%;
        height: 100%;
    }
    .main_contacts {
        display: block;
    }
    .head_overview {
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        padding-right: 16px;
    }
    .left_part_overview {
        padding-top: 0px;
    } 
    .add_person_more_icon {
        width: 32px;
        height: 32px;
    }
    .right_part_overview {
        display: flex;
        width: 32px;
        height: 32px;
    }
    .floating_contact {
        transform: translateX(0px); /* Da hier soll der Container direkt da sein, in der Desktop Version slided es aber rein */
    }
    .head_floating_content {
        gap: 20px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1111px){
    .left_part_overview,
    .floating_contact{
        padding-left: 20px;
    }
    .floating_contact{
        padding: 32px 20px;
    }
}

/* when browser's width is between 800 and 1110px, change the width of a <div> element */
@media screen and (max-width: 1110px) and (min-width: 800px){
        /* Contacts */

    .contact {
        width: 352px;
    }
}

/* zentriert den Inhalt mittig, damit display: flex nicht genutzt werden muss, da es sonst zu Problemen mit dem cascade mit d_none kommt */
@media screen and (max-width: 800px) and (min-width: 460px) {
    .letter_content {
        padding-left: calc((100% - 352px) / 2);
    }
}

@media(max-width: 800px) {
    /* Contacts - Dialog add & edit Contact */

    .dialog_add_contact,
    .dialog_edit_contact {
        transform: translateY(calc(100% + 90px));
        transition: all 300ms ease-out;
    }
    
    .show_dialog_add_contact,
    .show_dialog_edit_contact {
        transform: translateY(0);
    }

    /* Contact options */

    .delete_content:hover .contact_delete_icon,
    .delete_content:hover p,
    .edit_content:hover .contact_edit_icon,
    .edit_content:hover p {
        filter: initial;
        color:unset;
        font-weight: 400;
    }

    /* Contacts */

    .main_contacts {
        flex-direction: column;
    }
    .add_change_btn_mobile {
        position: absolute;
        bottom: 109px;
        right: 48px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
/*     .click_add_change_btn_mobile {
        background-color: var(--lightblue);
    } */
    .text_add_contact {
        display: none;
    }

    /* Contact Overview*/

    .head_overview {
        padding: 48px 16px;
    }
    .hide_desktop {
        display: flex;
    }
    .left_part_overview {
        padding: 0px;
    } 
    .headline_contacts {
        font-size: 47px;
    }   
    .text_contacts {
        font-size: 20px;
    }   
    .floating_contact {
        padding: 0px 16px;
    }
    .name_overview {
        font-weight: bold;
    }
    .editable_content {
        display: none;
    }
    .create_contact_input {
        max-width: 364px;
    }
}

@media(max-width: 460px) {
    /* Contacts - Dialog add & edit Contact */

    .dialog_add_contact,
    .dialog_edit_contact {
        flex-direction: column;
        width: 93%;
        height: calc(100vh - 90px - 86px);
    }
}

@media(max-width: 450px) {
    /* Contacts */

    #content_contacts {
        padding: 32px 16px;
    }
    .horizontal_line_content {
        width: 100%;
    }

}

@media(max-width: 400px) {
    /* Contacts - Dialog add & edit Contact */

    .create_contact_input {
        width: 100%;
    }
}


@media(max-width: 370px) {
    /* Contacts */
    #content_contacts {
        padding: 32px 0px;
        align-items: unset;
    }
    .contact {
        gap: 20px;
    }
    .add_change_btn_mobile {
        right: 24px;
    }
    .contact_fullName,
    .contact_mail {
        word-break: break-all;
    }
    .letter_content {
        padding: 0px 8px;
    }
    .name_overview {
        font-size: 24px;
    }
}

