body {
    background: rgb(246, 247, 248);
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.link_visited:visited {
    color: var(--grey);
}

.gray {
    color: var(--grey);
}

.limitation {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.hidden {
    display: none;
}

.display-f {
    display: flex;
}

.display-fjc {
    display: flex;
    justify-content: center;
}

.d-center-space-betwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-fc {
    display: flex;
    flex-direction: column;
}

.display-ac {
    display: flex;
    align-items: center;
}

.display-fccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-fsecc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.padding {
    padding: 80px;
}

.join-logo {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    z-index: 1;
    position: fixed;
}

.img-animaschen {
    height: 334.07px;
    width: 274px;
    background: url(../assets/img/logIn_SignUp/Capa1.svg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.animated-image {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: slideToLeftTop 3s forwards linear;
}

@keyframes slideToLeftTop {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 0;
        left: 0;
    }
}

/* #successMessage {
    bottom: -50px;
    left: 50%;
    /* transform: translateX(-50%); */
    /* transition: bottom 0.5s ease-in-out; */

.login_successful {
    position: absolute;
    bottom: -100px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 700;
    background-color: var(--menuButtonDarkblue);
    color: var(--white);
    border-radius: 8px;
    padding: 15px 24px;
    border: none;
  }
  @keyframes moveSpan {
    0% {
      bottom: -100px;
    }
    100% {
      bottom: 30%;
    }
  }
  .animate {
    display: block;
    animation: moveSpan 2s linear forwards;
  }

 .show {
    display: block;
    bottom: 100px;
    animation: slideIn 0.5s forwards;
}


 @keyframes slideIn {
    from {
        bottom: -100px;
    }
    to {
        bottom: 50%;
    } 
} 

.cover-button {
    visibility: hidden;
}

.gap {
    gap: 32px;
}

.padding {
    padding-right: 77px;
}

.imglogo {
    padding: 80px 77px;
}

.destop-login {
    padding-right: 77px;
}

.logo-login {
    height: 100vh;
    background-color: var(--white);
}

.frame153 {
    padding: 48px 115px;
    gap: 32px;
    border-radius: 30px;
    background-color: var(--white);
}

.frame153-singup {
    padding: 48px 115px;
    gap: 32px;
    border-radius: 30px;
    background-color: var(--white);
}

.button-p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-login-blue {
    font-weight: 700;
    background-color: var(--menuButtonDarkblue);
    color: var(--white);
    border-radius: 8px;
    padding: 15px 24px;
    border: none;
}

.button-login-blue:active {
    background-color: var(--lightblue);
}

.button-login-white {
    border: 1px solid var(--menuButtonDarkblue);
    font-style: normal;
    font-weight: 700;
    background-color: var(--white);
    color: var(--menuButtonDarkblue);
    border-radius: 8px;
    padding: 15px 24px;
}

.arrow_header_signUp {
    align-items: baseline;
}

.arrow_signUp {
    margin-left: -175px;
}

.arrow_signUp:hover {
    border-radius: 42px;
    background-color: var(--backgroundHoverArrow);
}

.text_login_btn {
    font-size: 21px;
}

.button-login-white:active {
    border-color: var(--lightblue);
    color: var(--lightblue);
}

.header_LogIn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.headline_logIn {
    font-size: 61px;
}

.vector_login {
    border: 3px solid;
    border-top: 150px;
    border-color: var(--lightblue);
}

.link-checkbox {
    color: var(--lightblue);
}

.link-checkbox:hover {
    text-decoration: underline;
    font-weight: bold;
}

.password_container {
    display: flex;
    align-items: center;
    border: 1px solid var(--backgroundSpacer);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    width: 422px;
    background-color: var(--white);
    
}
.password_container_border{
    border: 1px solid var(--lightblue);
}

.password_container input {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
    background-color: var(--white);
    font-size: 20px;
}

.password_container img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.password_container:hover {
    border: 1px solid var(--lightblue);
}

.password_lock {
    width: 20px;
    height: 20px;
}

.password_show {
    width: 20px;
    height: 20px;
}

.password_hide {
    width: 20px;
    height: 20px;
    display: none;
}

.input-border {
    border-color: var(--errorRed);
}

.password_container input::placeholder {
    font-size: 20px;
    color: var(--backgroundSpacer);
}

.padding {
    padding: 8px;
}

input:hover {
    cursor: pointer;
}

.hover {
    cursor: pointer;
}

.rememberMe_box {
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: baseline;
    padding-left: 48px;
}

.accept_box {
    display: flex;
    gap: 8px;
    align-items: center;
}

.style_checkbox {
    height: 16px;
    width: 16px;
}

.password-error {
    flex: 1;
    color: var(--errorPink);
}

footer {
    /* height: 60px; */
    padding: 16px;
    bottom: 40px;
}

.pointer-coler:hover {
    cursor: pointer;
    color: var(--lightblue);
}

@media (min-width: 900px) {
    .mobile-login {
        display: none;
        height: 80px;
    }
    .butten-mobile {
        display: none;
        width: 150px;
    }
}

@media (max-width: 900px) {
    .destop-login {
        display: none;
    }
    .join-logo {
        background-color: #2A3647;
    }
    .img-animaschen {
        height: 121.97px;
        width: 100.03px;
        background: url(../assets/img/logIn_SignUp/Capa2.svg);
    }
    .limitation {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .password_container {
        width: 364px;
    }
    .frame153 {
        padding: 32px 24px;
    }
    .imglogo {
        width: 64px;
        padding: 37px 38px;
    }
    .frame153-singup {
        width: 80%;
        padding: 32px 24px;
    }
    .headline_logIn {
        font-size: 47px;
    }
    .logIn-btns {
        display: flex;
        flex-direction: column;
    }
    .mobile_login_btn {
        width: 180px;
        padding: 16px 0px;
    }
    .text_login_btn {
        font-size: 16px;
    }
    .arrow_signUp {
        margin-left: -100px;
    }
}

@media (max-width: 600px) {
     .password_container {
        width: 364px;
    }
}

@media (max-width: 500px) {
    .password_container {
        width: 340px;
    }
    .frame153-singup {
        padding: 32px 24px;
    }
}

@media (max-width: 460px) {
    .password_container {
        width: 90%;
    }
    .password_container input {
        width: 90%;
    }
    .arrow_signUp {
        margin-left: -60px;
    }
}

@media (max-width: 380px) {
     .imglogo {
        padding: 24px;
        height: 40px;
    }
    .imglogo {
        width: 56px;
        padding: 30px;
    }
    .frame153-singup {
        padding: 24px;
    }
}