h1{
    margin: 0;
    gap: 30px;
    opacity: 0px;
    font-size: 50px;
}

.pointer{
    cursor: pointer;
}
  
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.d_none {
    display: none;
}

.flex_dir_c {
    display: flex;
    flex-direction: column;
}

.round_div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 8px;
  }

a {
    text-decoration: none;
}

body {
    align-items: center;
    height: 100vh;
    background-color: var(--backgroundblue);
    overflow-x: hidden;
}

.wrapped_maxWidth {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.right_section {
    flex: 1;
}

#main_container {
    height: calc(100vh - 96px);
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

/* Responsive */

@media(max-width: 840px) {

    .wrapped_maxWidth {
        flex-direction: column;
    }

    /* Scrollbar */

    ::-webkit-scrollbar {
        width: 4px;
      }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
      }
    
    #main_container {
        height: calc(100vh - 159px);
    }

}
