.content{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

h1{
    margin: 0;
    gap: 30px;
    opacity: 0px;
    font-size: 50px;
}

.h1-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

.arrow-left:hover{
    border-radius: 100px;
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.list{
    display: flex;
    box-sizing: border-box;
}

.list h2{
    margin-top: 0;
}

.list-textbox{
    margin-left: 45px;
}

.list-textbox p{
    margin-top: 0;
}

.a-join{
    color: var(--lightblue);
}

.margin-0{
    margin: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-32px{
    margin-bottom: 32px;
}

.margin-bottom-24px{
    margin-bottom: 24px;
}

.margin-bottom-16px{
    margin-bottom: 16px;
}

.height-100vh{
    height: 100vh;
}

.container-navi-content{
    display: flex;
}
  
* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Contacts - Dialog add Contact */

.dialog_add_contact_bg {
    position: fixed;
    display: flex;
    justify-content: center;
/*     align-items: center; */
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
    z-index: 1;
}

.dialog_add_contact {
    border: 1px solid green;
    width: 93%;
    margin-top: 83px;
    height: calc(100vh - 83px - 86px);
/*     background-color: var(--menuButtonDarkblue); */
    border-radius: 30px;
}

.top_dialog_add {
    border: 1px solid yellow;
    background-color: var(--menuButtonDarkblue);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
/*     height: 46%; */
}

.close_add_contact {
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(105%) contrast(103%);
}

.headline_add_contact {
    font-size: 47px;
    font-weight: 700;
    color: var(--white);
}

.text_add_contact_dialog {
    font-size: 20px;
    color: var(--white);
}

.bottom_dialog_add {
    background-color: var(--white);
}

.d_none {
    display: none;
}

.flex_dir_c {
    display: flex;
    flex-direction: column;
}

.round_div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 8px;
  }

a {
    text-decoration: none;
}

body {
    align-items: center;
    height: 100vh;
    background-color: var(--backgroundblue);
}

.wrapped_maxWidth {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.right_section {
    flex: 1;
}


#main_container {
    height: calc(100vh - 96px);
}

/* Contacts */

.main_contacts {
    display: flex;
    box-shadow: 4px 0px 6px 0px #00000014;
}

#content_contacts {
    box-shadow: 4px 0px 6px 0px #00000014;
    background-color: var(--white);
    padding: 32px 52px; /* zentriert content mittig */
    width: 456px;
/*     display: flex;
    flex-direction: column;
    align-items: center; */
    overflow-y: auto;
}

.add_change_btn_mobile {
    background-color: var(--menuButtonDarkblue);
    width: 352px;
    padding: 12px 0px;
    cursor:pointer;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media(min-width: 841px) {
    .add_change_btn_mobile:hover {
        background-color: var(--lightblue);
    }
}

.text_add_contact {
    font-size: 21px;
    color: var(--white);
}

.add_person_more_icon {
    width: 32px;
    height: 32px;
}

.letter_names {
    padding: 17px 36px;
}

.head_letters {
    font-size: 20px;
}

.horizontal_line_content {
    width: 352px;
    padding: 8px 0px;
}

.horizontal_line {
    border: 1px solid var(--backgroundSpacer);
}

.contact {
    display: flex;
    gap: 35px;
    padding: 15px 24px;
    cursor:pointer;
}

@media(min-width: 841px) {
    .contact:hover {
        border-radius: 10px;
        background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    }
}

.short_name {
    background-color: var(--tagOrange);
    width: 42px;
    height: 42px;
    color: var(--white);
}

.short_name_text {
    font-size: 12px;
}

.name_data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_fullName {
    font-size: 20px;
}

.contact_mail,
.overview_mail {
    color: var(--fontColorMail);
}

/* Contact Overview*/

.hide_desktop {
    display: none;
}

.left_part_overview {
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-left: 55px;
    gap: 30px;
}

.left_part_overview_second {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
}

.headline_contacts {
    font-size: 61px;
}  

.text_contacts {
    font-size: 27px;
} 

.seperator_line_content {
    height: 90px;
    width: 3px;
    background-color: var(--lightblue);
}

.floating_contact {
    display: flex;
    flex-direction: column;
    padding: 32px 55px;
    gap: 21px;
}
.head_floating_content {
    display: flex;
    gap: 54px;
    align-items: center;
}
.short_name_overview {
    background-color: var(--tagOrange);
    border: 3px solid var(--white);
    width: 120px;
    height: 120px;
    color: var(--white);
}
.short_name_text_overview {
    font-size: 47px;
    font-weight: 500;
}

.name_overview {
    font-size: 47px;
    font-weight: 500;
}

.editable_content {
    display: flex;
    gap: 13px;
    margin-top: 8px;
}

.edit_content {
    width: 62px;
}

.edit_content,
.delete_content {
    display: flex;
    gap: 13px;
    align-items: center;
    cursor: pointer;
}

.contact_edit_icon,
.contact_delete_icon {
    height: 24px;
    width: 24px;
}

.edit_content:hover .contact_edit_icon,
.edit_content:hover p {
    filter: invert(52%) sepia(91%) saturate(455%) hue-rotate(155deg) brightness(96%) contrast(84%);
    color: var(--lightblue);
    font-weight: 700;
}

.delete_content:hover .contact_delete_icon,
.delete_content:hover p {
    filter: invert(52%) sepia(91%) saturate(455%) hue-rotate(155deg) brightness(96%) contrast(84%);
    color: var(--lightblue);
    font-weight: 700;
}


.text_information {
    font-size: 20px;
    padding: 25px 0px;
}
.contact_information {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.contact_overview_mail,
.contact_overview_phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

/* Responsive */

@media(max-width: 840px) {

    .wrapped_maxWidth {
        flex-direction: column;
    }

    /* Scrollbar */

    ::-webkit-scrollbar {
        width: 4px;
      }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
      }
    
    #main_container {
        height: calc(100vh - 163px);
    }

    /* Contacts */

    .main_contacts {
        flex-direction: column;
    }
    #content_contacts {
        height: 100%;
        width: unset;
        max-width: 456px;
        padding: 32px 38px; /* zentriert content mittig */
    }
    .add_change_btn_mobile {
        position: absolute;
        bottom: 109px;
        left: 356px;
        background-color: var(--menuButtonDarkblue);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .add_person_more_icon {
        width: 32px;
        height: 32px;
    }
    .text_add_contact {
        display: none;
    }

    /* Contact Overview*/

    .hide_desktop {
        display: flex;
    }

    .left_part_overview_second {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }

    .head_overview {
        display: flex;
        justify-content: space-between;
        padding: 48px 16px;
    }  
    .left_part_overview {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        padding: 0px;
    } 
    .headline_contacts {
        font-size: 47px;
    }   
    .text_contacts {
        font-size: 20px;
    }   
    .right_part_overview {
        display: flex;
        width: 32px;
        height: 32px;
        cursor:pointer;
    }
    .seperator_line_content {
        height: 3px;
        width: 90px;
    }
    .floating_contact {
        padding: 0px 16px;
    }
    .head_floating_content {
        gap: 20px;
    }
    .short_name_overview {
        width: 80px;
        height: 80px;
    }
    .short_name_text_overview {
        font-size: 27px;
        font-weight: 400;
    }
    .name_overview {
        font-size: 36px;
        font-weight: bold;
    }
    .editable_content {
        display: none;
    }

    .container-navi-content{
        flex-direction: column-reverse;
    }

    .content{
        padding-bottom: 150px;
    }
}

@media(max-width: 500px){
    .content{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 40px;
    }
}
