body {
    font-family: 'Open Sans';
    max-width: 1400px;
    margin: 0;
    background: rgb(246, 247, 248);
}

.hidden {
    display: none;
}

.d-center-space-betwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-fccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-logo {
    width: 100%;
    /* max-width: 1400px; */
    height: 100%;
    background-color: var(--white);
    z-index: 1;
    position: fixed;
}

.img-animaschen {
    height: 200px;
    width: 200px;
    background: url(/assets/img/logIn_SignUp/Capa\ 1.svg);
    background-repeat: no-repeat;
}

.animated-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideToLeftTop 6s forwards;
}

@keyframes slideToLeftTop {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 0;
        left: 0;
    }
}

.gap {
    gap: 32px;
}

.padding {
    padding-right: 77px;
}

.imglogo {
    width: 100.03px;
    padding: 80px 77px;
}

.logo-login {
    height: 100vh;
    background-color: var(--white);
}

.frame153 {
    width: 652px;
    height: 493px;
    top: 265.5px;
    left: 394px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
    border-radius: 30px;
    opacity: 0px;
    background-color: var(--white);
}

.button-login-blue {
    font-family: 'Open Sans';
    font-weight: 800;
    height: 49px;
    background-color: var(--menuButtonDarkblue);
    color: var(--white);
    border-radius: 10px;
}

.button-login-white {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    height: 49px;
    background-color: var(--white);
    color: var(--menuButtonDarkblue);
    border-radius: 10px;
}

.input-with-image {
    background-size: 20px 20px;
    background-position: right 16px top 50%;
    background-repeat: no-repeat;
    padding-left: 16px;
    border-radius: 10px;
    width: 422px;
    height: 40px;
}

input {
    font-family: 'Open Sans';
    font-weight: 800;
}

.b-img-email {
    background-image: url("/assets/img/logIn_SignUp/mail.svg");
}

.b-img-lock {
    background-image: url("/assets/img/logIn_SignUp/lock.svg");
}

.b-img-person {
    background-image: url("/assets/img/logIn_SignUp/person.svg");
}

input:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

@media (max-width: 800px) {
    input-with-image {
        width: 364px;
    }
}