.headlineSummary {
  font-size: 61px;
}

.spacerHeadline {
  width: 3px;
  height: 60px;
  background-color: var(--lightblue);
}

.main_summary {
  overflow: scroll;
}

.containerHeadline {
  width: 625px;
  height: 73px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.containerSummary {
  display: flex;
}

.mainSummary {
  width: 560px;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSummary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summaryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 385px;
  height: 136px;
  gap: 3px;
  margin-top: 430px;
}

.done {
  width: 264px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.toDo {
  width: 264px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.urgent {
  width: 100%;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.marginSummary {
  margin-left: 96px;
}

.sizeNumbersSummary {
  font-size: 64px;
  font-weight: 600px;
}

.sizeTextSummary {
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
}

.doneMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 69px;
  width: 69px;
}

.iconUrgent {
  height: 60px;
  width: 60px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 130px;
  height: 96px;
}

.spacer {
  width: 1px;
  height: 102px;
  background-color: var(--backgroundSpacer);
}

.deadline {
  width: 178px;
  height: 57px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomCard {
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.summaryCardHover:hover {
  transform: scale(1.07);
  background-color: var(--menuButtonDarkblue);
  cursor: pointer;
  color: white;
}

.summaryCardHover:hover .imgAndIcon {
  background-color: white;
}

.summaryCardHover:hover .iconSummary {
  filter: invert(21%) sepia(32%) saturate(441%) hue-rotate(175deg)
    brightness(30%) contrast(99%);
}

.summaryFontColorHover:hover {
  color: white !important;
}
.imgAndIcon {
  background-color: var(--menuButtonDarkblue);
  height: 69px;
  width: 69px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSummary {
  height: 30px;
  width: 30px;
}

.goodMorningSummary {
  font-size: 47px;
  font-weight: 500;
  color: #2a3647;
}

.nameSummary {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}

.deadlineMobil {
  font-size: 21px;
  font-weight: 700;
}

.deadlineTextMobil {
  font-size: 16px;
  font-weight: 400;
}

.fontSizeMobil {
  font-size: 27px;
}
