:root {
    --menuButtonDarkblue: #2A3647;
    --hoverMenuBlue: #091031;
    --lightblue: #29ABE2;
    --backgroundblue: #F5F7F8;
    --backgroundSpacer: #D1D1D1;

    --prioUrgent:#FF3D00;
    --prioMedium: #ffa800;
    --prioLow:#7AE229;;

    --white: #ffffff;
    --black: #000000;
    --grey: #A8A8A8;
    --fontGrey: #CDCDCD;

    --tagGreen:#1FD7C1;
    --tagtBlue:#0038FF;
    --tagTurquoise: #00BEE8;
    --tagOrange:#FF7A00;
    --tagDarkOrange: #FF4646;
    --tagPurple:#9327FF;
    --tagLightPurple:#6E52FF;
    --tagDarkPurple: #462F8A;
    --tagPink:#FC71FF;
    --tagYellow:#FFBB2B;

    --fontColorDarkGrey: #2A3647;
}

