/* ------ Summary start ------- */
.headlineSummary {
  font-size: 61px;
}

.spacerHeadline {
  width: 3px;
  height: 60px;
  background-color: var(--lightblue);
}

.containerHeadline {
  width: 625px;
  height: 73px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.containerSummary {
  display: flex;
}

.mainSummary {
  width: 560px;
  height: 562px;
  top: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSummary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summaryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 385px;
  height: 136px;
  gap: 3px;
  margin-top: 430px;
}

.done {
  width: 264px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.toDo {
  width: 264px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.urgent {
  width: 100%;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.sizeNumbersSummary {
  font-size: 64px;
  font-weight: 600px;
}

.sizeTextSummary {
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
}

.doneMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 69px;
  width: 69px;
}

.iconUrgent {
  height: 60px;
  width: 60px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 130px;
  height: 96px;
}

.spacer {
  width: 1px;
  height: 102px;
  background-color: var(--backgroundSpacer);
}

.deadline {
  width: 178px;
  height: 57px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomCard {
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.summaryCardHover:hover {
  transform: scale(1.07);
  background-color: var(--menuButtonDarkblue);
  cursor: pointer;
  color: white;
}

.summaryCardHover:hover .imgAndIcon {
  background-color: white;
}

.summaryCardHover:hover .iconSummary {
    filter: invert(21%) sepia(32%) saturate(441%) hue-rotate(175deg) brightness(30%) contrast(99%);
  }

.summaryFontColorHover:hover {
  color: white !important;
}
.imgAndIcon {
  background-color: var(--menuButtonDarkblue);
  height: 69px;
  width: 69px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSummary {
  height: 30px;
  width: 30px;
}
/* ------ Summary end ------- */

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.d_none {
  display: none;
}

.flex_dir_c {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

body {
  align-items: center;
  height: 100vh;
  background-color: var(--backgroundblue);
}

.wrapped_maxWidth {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.right_section {
  flex: 1;
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 116px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  align-items: center;
  background-color: var(--white);
}

.headline {
  font-size: 20px;
}

.profile_header_mobile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header_help_icon {
  width: 20px;
  height: 20px;
}

.border_profile {
  border: 3px solid var(--menuButtonDarkblue);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_profile_header {
  color: var(--lightblue);
  font-weight: 700;
}

/* Side Menu */

#side_menu_desktop {
  background-color: var(--menuButtonDarkblue);
  padding: 64px 0px;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  width: 232px;
}

.menu_logo {
  width: 100.03px;
  height: 121.97px;
}

.menu_icon_image {
  width: 30px;
  height: 30px;
}

.links {
  gap: 15px;
}

.menu_icon_text {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.link_style {
  color: var(--fontGrey);
}

.top_side_menu {
  gap: 136px;
}

.bottom_side_menu {
  cursor: pointer;
}

.link_pad {
  padding: 8px;
}

#main_container {
  height: calc(100vh - 96px);
}

/* Responsive */

@media (max-width: 840px) {
  .wrapped_maxWidth {
    flex-direction: column;
  }

  /* Header */

  #header {
    padding: 20px 16px;
  }

  .headline {
    display: none;
  }
  .logo_header_mobile {
    display: flex;
    width: 32px;
    height: 39.02px;
  }
  .header_help_icon {
    display: none;
  }
  .border_profile {
    width: 40px;
    height: 40px;
  }
  .text_profile_header {
    font-weight: 400;
  }
  /* side menu bottom */
  #side_menu_desktop {
    display: none;
  }

  #side_menu {
    background-color: var(--menuButtonDarkblue);
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .side_menu_sticky {
    position: sticky;
    bottom: 0;
  }
  .menu_icon_text {
    flex-direction: column;
    padding: 15px 0px;
    width: 76px;
    gap: 10px;
  }
  .menu_icon_image {
    width: 24px;
    height: 24px;
  }
  .link_style {
    font-size: 14px;
    font-family: "Open Sans";
  }
  .link_style:hover {
    color: var(--white);
  }
}
