<!-- Desktop Design -->

<section id="side_menu_desktop" class="d_none flex_dir_c"> 
    <div class="top_side_menu flex_dir_c ">
        <img class="menu_logo" src="./assets/img/general/logo.svg" alt="logo">
        <div class="links flex_dir_c">
            <a class="active_link menu_icon_text" href="summary.html">
                <img class="menu_icon_image" src="./assets/img/general/summary.svg" alt="summary icon">
                <p class="link_style">Summary</p>
            </a>
            <a class="active_link menu_icon_text" href="add_tasks.html">
                <img class="menu_icon_image" src="./assets/img/general/add_task.svg" alt="add_task icon">      
                <p class="link_style">Add Task</p>
            </a>
            <a class="active_link menu_icon_text" href="board.html">
                <img class="menu_icon_image" src="./assets/img/general/board.svg" alt="board icon">
                <p class="link_style">Board</p>
            </a>
            <a class="active_link menu_icon_text" href="contacts.html">
                <img class="menu_icon_image" src="./assets/img/general/contacts.svg" alt="contacts icon">
                <p class="link_style">Contacts</p>
            </a>
        </div>
    </div>
    <div class="bottom_side_menu flex_dir_c">
        <a class="active_link link_style link_pad hover_color" href="../privacy.html">Privace Policy</a>
        <a class="active_link link_style link_pad hover_color" href="../legal_notice.html">Legal notice</a>
    </div>
</section>


<!-- Mobile Design -->

<section id="side_menu" class="d_none"> 
    <a class="active_link menu_icon_text" href="../../summary.html">
        <img class="menu_icon_image" src="./assets/img/general/summary.svg" alt="summary icon">
        <p class="link_style">Summary</p>
    </a>
    <a class="active_link menu_icon_text" href="../../board.html">
        <img class="menu_icon_image" src="./assets/img/general/board.svg" alt="board icon">      
        <p class="link_style">Board</p>
    </a>
    <a class="active_link menu_icon_text" href="../../add_tasks.html">
        <img class="menu_icon_image" src="./assets/img/general/add_task.svg" alt="add_task icon">
        <p class="link_style">Add Task</p>
    </a>
    <a class="active_link menu_icon_text" href="../../contacts.html">
        <img class="menu_icon_image" src="./assets/img/general/contacts.svg" alt="contacts icon">
        <p class="link_style">Contacts</p>
    </a>
</section>