<!-- Desktop Design -->

<section id="side_menu_desktop" class="d_none flex_dir_c"> 
    <div class="top_side_menu flex_dir_c ">
        <img class="menu_logo" src="./assets/img/general/logo.svg" alt="logo">
        <div class="links flex_dir_c">
            <div class="menu_icon_text">
                <img class="menu_icon_image" src="./assets/img/general/summary.svg" alt="summary icon">
                <a class="link_style" href="">Summary</a>
            </div>
            <div class="menu_icon_text">
                <img class="menu_icon_image" src="./assets/img/general/add_task.svg" alt="add_task icon">      
                <a class="link_style" href="">Add Tasks</a>
            </div>
            <div class="menu_icon_text">
                <img class="menu_icon_image" src="./assets/img/general/board.svg" alt="board icon">
                <a class="link_style" href="">Board</a>
            </div>
            <div class="menu_icon_text">
                <img class="menu_icon_image" src="./assets/img/general/contacts.svg" alt="contacts icon">
                <a class="link_style" href="">Contacts</a>
            </div>
        </div>
    </div>
    <div class="bottom_side_menu flex_dir_c">
        <a class="link_style link_pad" href="../privacy.html">Privace Policy</a>
        <a class="link_style link_pad" href="../legal_notice.html">Legal notice</a>
    </div>
</section>


<!-- Mobile Design -->

<section id="side_menu" class="d_none"> 
    <div class="menu_icon_text">
        <img class="menu_icon_image" src="./assets/img/general/summary.svg" alt="summary icon">
        <a class="link_style" href="">Summary</a>
    </div>
    <div class="menu_icon_text">
        <img class="menu_icon_image" src="./assets/img/general/board.svg" alt="board icon">      
        <a class="link_style" href="">Board</a>
    </div>
    <div class="menu_icon_text">
        <img class="menu_icon_image" src="./assets/img/general/add_task.svg" alt="add_task icon">
        <a class="link_style" href="">Add Tasks</a>
    </div>
    <div class="menu_icon_text">
        <img class="menu_icon_image" src="./assets/img/general/contacts.svg" alt="contacts icon">
        <a class="link_style" href="">Contacts</a>
    </div>
</section>